body { background: #12a40b; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 37px; display: flex; }
.block-shipping-0 { color: #782542; font-size: 17px; margin-bottom: 5px; }
.block-cluster-1 { color: #4d8a0a; font-size: 12px; margin-bottom: 5px; }
.block-user-2 { color: #47dd22; font-size: 13px; margin-bottom: 5px; }
.block-user-3 { color: #422d24; font-size: 17px; margin-bottom: 5px; }
.block-payment-4 { color: #9ec05b; font-size: 14px; margin-bottom: 5px; }